@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
span {
  font-size: 20px;
  color: orangered;
}
